<!-- Spinner Start -->
<!-- <div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner-grow text-primary" role="status"></div>
</div> -->
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
  <div class="row gx-0 align-items-center">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="far fa-envelope-open me-2"></small>
        <small>lyffix.info@gmail.com</small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center">
        <a
          class="text-white-50 ms-4"
          href="https://www.facebook.com/LyffixConsultancy/"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          href="https://twitter.com/fixlyf?s=11&t=4Zsjg9FuJG3PQj_HhdhDiA"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          href="https://www.linkedin.com/company/lyffix-technolgies-llp/"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          href="https://instagram.com/lyf_fix?igshid=YmMyMTA2M2Y="
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
>
  <a href="index.html" class="navbar-brand d-flex align-items-center">
    <h1 class="m-0">
      <img class="img-fluid me-3" src="./assets/img/icon/logo2.png" alt="" />
    </h1>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
        >Home</a
      >
      <a routerLink="about" routerLinkActive="active" class="nav-item nav-link"
        >About Us</a
      >
      <!-- <a
        routerLink="services"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Our Services</a
      > -->
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Services</a
        >
        <div class="dropdown-menu bg-light border-0 m-0">
          <a href="feature.html" class="dropdown-item">Astrology</a>
          <a href="appointment.html" class="dropdown-item">Halth</a>
          <a href="feature.html" class="dropdown-item">Fitness</a>
          <a href="appointment.html" class="dropdown-item">Psychology</a>
          <a href="feature.html" class="dropdown-item">General Consultant</a>
          <a href="appointment.html" class="dropdown-item">Education</a>
          <a href="feature.html" class="dropdown-item">Finance</a>
        </div>
      </div>
      <a
        routerLink="services"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Register as Experts</a
      >
      <a
        routerLink="contact"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Contact Us</a
      >
    </div>
  </div>
  <a
    routerLink="about"
    routerLinkActive="active"
    class="px-3 d-none d-lg-block sidemenu"
    >Talk to an expert</a
  >

  <a
    routerLink="login"
    routerLinkActive="active"
    class="px-3 d-none d-lg-block sidemenu leftborder"
    >Login</a
  >
  <!-- <a href="" class="btn btn-primary px-3 d-none d-lg-block">Consult Now</a> -->
</nav>
<!-- Navbar End -->
